/// 全局样式

.f {
  display: flex;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.f-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
